## Build results
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo
*.cache
*.vsidx
*.DotSettings.user

## VS Code
.vscode/

## Rider
.idea/

## OS files
.DS_Store
Thumbs.db

## NuGet
*.nupkg
packages/
project.lock.json

## Test results
TestResults/

## Misc
*.log
